/* Cima */
/* Header or Navbar */
 /* Header or Navbar */
 /* Header or Navbar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


.logo{
    width: 10px;
}
html {
    scroll-behavior: smooth;
}
.button-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
  }

@media (max-width: 1600px) {
    .button-container{

        display: none;
    }
}


.body{
background-image: url('atividade/src/images/Imagem_para_Login.webp');

}

.promo{
    display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
}

.imagempromo{
    background-color: #d8e3ec;
	width: 250px;
    height: 400px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-radius: 25px;
	transition: 0.2s ease-in-out;
    margin-left: -10px;
    
}

.itens{
    width: 200px;
    height: 200px;
}

#btopo{
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bcentral{
    padding-top: 15px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    background-color: #111111a8;
    border: none;
}

h2{
    justify-content: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

  





.collapse{
    background-color: #ffffff;
}


.collapsing{
    background-color:#ffffff;
    color: #000000;
 }

 .navitem{
    list-style-type: none;
    border: none;
    color: #000000;   
}

.dropdown-toggle.modo-escuro{
    color: #ffffff;
    background-color: #000;
}


.bar{
    background-color: #ffffff;
}

 /* Header or Navbar */
 /* Header or Navbar */
 /* Header or Navbar */
 /* Baixo */


/* Cima */
/* Body */
/* Body */
/* Body */


.venha,
.nossa,
.destaque {
    margin: 1rem 0;
}
.nossas,
.destaques{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.venhas{
    margin-left: 15px;
}

.preco{
    margin-right:60px;
    font-weight: bold;
    font-size: 25px;
}

.prod{
    font-weight: bold;
}

#cadeira1{
    margin-top:45px;
}

#fc25{
    margin-top: 45px;
}

#fone{
    margin-top:70px;
}

#placamae{
    margin-top: 25px;
}

#bayo{
    margin-top: 45px;
}

.h3{
    justify-content: center;
}

.carrosel{
    padding-right: 5px;
}


.exteriorcar{
    background-image:rgba(0, 110, 255, 0.384),rgba(98, 0, 255, 0.315),#6f00ff0a;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.textocar{
    background-image: linear-gradient(to right, rgba(0, 26, 255, 0.329) , rgba(111, 0, 255, 0.404) , rgba(153, 0, 255, 0.219) , rgba(212, 0, 255, 0.295));
    color: #ffffff;
    border: 2px solid black;
    width: 600px;
    height: 350px;
    background-color: #ffffff00;
    display: inline-block;
    border-radius: 10px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px
}
.carousel-inner{
    border-radius: 15px;

}
.quadrado {
    border: 2px solid black;
    width: 600px;
    height: 350px;
    background-color: #ffffff00;
    display: inline-block;
    border-radius: 10px;
    background-position: left top;
    background-repeat: repeat;
   }
 
   .quadrado#q1 {
     border: 2px solid rgb(255, 255, 255);
    width: 250px;
    height: 150px;
    background-color: #ffffff5b;
    display: inline-block;
    border-radius: 10px;
    background-position: left top;
    background-repeat: repeat;
   }

.btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form1{
    width: 500pxd;
}

  .botao {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .botao:hover {
    background-color: #0056b3;
  }

/* Body */
/* Body */
/* Body */
/* Baixo */

 
/* Footer */
.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b3d4148 ;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    height: 60px;
  }
  
  .footer-items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    background: #000000;
  }
  
  .footer-items h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin: 20px 0 10px 0;
  }
  
  .footer-items ul {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .footer-items li a {
    color: #ddd;
    font-size: 0.875rem;
  }
  
  .footer-items li a:hover {
    text-decoration: underline;
  }
 /* Footer */
  