* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 10px 20px;
}

#logo1{
    width: 150px;
    height: auto;
    border: none;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 600px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: width 0.3s;
}

.search-bar input:focus {
    width: 650px;
}

.search-bar button {
    background-color: #508bfc;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.cart-icon {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.cart-icon:hover {
    color: #aaa;
}

.search-bar button:hover {
    background-color: #777;
}

.nav-links {
    display: flex;
    gap: 20px;
}

ul{
    margin-bottom: -0px;
    display: flex;
    gap:20px;
    margin-left: -20px;
    overflow: hidden;
}

li{
    list-style-type: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nav-links a .icon {
    margin-right: 5px;
}

.nav-links a:hover {
    color: #aaa;
}


.cart-icon {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.cart-icon:hover {
    color: #aaa;
}
@media screen and (min-width: 900px) {
    .burger{
        display: none;
    } 
}

@media screen and (max-width: 900px) {
    .search-bar{
        width:60%;
        height: auto;
        overflow: hidden;
    }
    #logo1{
        width: 150px;
        height: 150px;
        margin-top: -20px;
    }
    .navbar{

        width: 100%;
        overflow: hidden;
    }
    .nav-links{
        display: none;
    }
    .logomenu{
        display: flex;
        gap: 240px;
    }
    #img-burger{
        width: 75px;
        height: 75px;
        margin-top: 25px;
    }
    .burger{
        cursor: pointer;
    }
    
}