* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 10px 20px;
}

.logo img {
    width: 200px;
    height: 160px;
    border: none;
    padding: 0.5rem;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 600px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: width 0.3s;
}

.search-bar input:focus {
    width: 650px;
}

.search-bar button {
    background-color: #508bfc;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.cart-icon {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.cart-icon:hover {
    color: #aaa;
}

.search-bar button:hover {
    background-color: #777;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nav-links a .icon {
    margin-right: 5px;
}

.nav-links a:hover {
    color: #aaa;
}


.cart-icon {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.cart-icon:hover {
    color: #aaa;
}